@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

.login-page_container {
  background: radial-gradient(
    var(--color-background-login-secondary),
    var(--color-background-login-primary)
  );
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  grid-template-columns: minmax(58.75rem, 80rem);
  grid-template-rows: minmax(37.5rem, 43rem);
}

.login-page {
  /* background-color: lightblue; */
  margin: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2.7px 1fr;
}

div .login-page_divider {
  background-color: var(--font-color-login);
  border-radius: 5rem;
  filter: drop-shadow(1px 1px 1px black);
}

/* Estilos del slogan */

.login-page_slogan_container,
.login-page_login_container {
  /* background-color: lightcyan; */
  display: grid;
  place-items: center;
  height: 100%;
}

.login-page_slogan {
  /* background-color: rgb(7, 50, 48); */
  width: 60%;
  height: 70%;
}

.login-page_login {
  /* background-color: rgb(24, 167, 160); */
  width: 75%;
  height: 70%;
}

div .login-page_slogan {
  display: grid;
  grid-template-rows: 1fr 2px 1fr;
  gap: 2rem;
  padding: 10%;
}

.login-page_slogan .login-page_slogan_title {
  /* background-color: aquamarine; */
  display: grid;
}

.login-page_slogan .login-page_slogan_title > h1 {
  /* background-color: antiquewhite; */
  display: grid;
  place-items: center;
  text-align: center;
  color: var(--font-color-login);
  font-size: 1.7rem;
  filter: drop-shadow(1px 1px 1px black);
}

.login-page_slogan .login-page_slogan_divider {
  background-color: var(--font-color-login);
  border-radius: 5rem;
  filter: drop-shadow(1px 1px 1px black);
}

.login-page_slogan .login-page_slogan_logo {
  /* background-color: blueviolet; */
  display: grid;
  place-content: center;
  gap: 0.8rem;
}

.login-page_slogan .login-page_slogan_logo > p {
  /* background-color: white; */
  width: 15ch;
  display: grid;
  text-align: center;
  color: var(--font-color-login);
  font-weight: bolder;
  letter-spacing: 0.1rem;
  filter: drop-shadow(1px 1px 1px black);
  font-size: 1.2rem;
}

.login-page_slogan .login-page_slogan_logo > div {
  /* background-color: black; */
  display: grid;
  place-content: center;
}

.login-page_slogan .login-page_slogan_logo img {
  width: 10rem;
  filter: drop-shadow(1px 1px 1px black);
}

.login-page_login {
  display: grid;
  grid-template-rows: 3rem 0.85fr 2rem;
  /* background-color: green; */
}

.login-page_login h1 {
  /* background-color: lightcoral; */
  color: var(--font-color-login);
  display: grid;
  place-content: center;
  font-size: 1.8rem;
  filter: drop-shadow(1px 1px 1px black);
}

.login-page_login form {
  /* background-color: lightslategray; */
  display: grid;
  grid-template-rows: repeat(3, 33%);
  /* padding: 1rem 1.5rem 0.5rem; */
  padding: 0 4%;
}

.login-page_login form > label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: greenyellow; */
  color: var(--font-color-login);
  width: 100%;
  font-size: 0.8rem;
  filter: drop-shadow(1px 1px 1px black);
  position: relative;
  gap: 5%;
}

.login-page_login form > label > input {
  width: 100%;
  height: 1.7rem;
  outline: none;
  border-radius: 0.1rem;
  border: none;
  padding-left: 0.5rem;
  color: rgba(50, 50, 50, 0.931);
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
}

.login-page_login form > label > .login-error-indicator {
  position: absolute;
  color: rgb(218, 196, 69);
  right: 3%;
  top: 52%;
  font-size: 1rem;
}

.login-page_login form > label > .login-error {
  color: rgb(243, 243, 243);
  font-size: 0.9rem;
  position: absolute;
  top: 73%;
  font-family: "Titillium Web", sans-serif;
}

.login-page_login form .submit-login-btn {
  display: grid;
  align-items: end;
}

.submit-login-btn_spinner {
  position: relative;
}

.login-page_login form input[type="submit"] {
  display: grid;
  height: 2.2rem;
  width: 100%;
  font-size: 1.2rem;
}

/* Comienza spinner */

form
  > .submit-login-btn
  .submit-login-btn_spinner
  .login-spinner
  .loadership_CWZLE {
  position: absolute;
  right: -5%;
  top: 15%;
}

form .login-spinner .loadership_CWZLE div {
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid #4a4a4a33;
}

.loadership_CWZLE div:not(:nth-child(1)) {
  border: 5px solid #ffffff;
}

/* Finaliza Spinner */

.login-page_login .sign-up_link,
.login-page_login .sign-up_link > a {
  font-size: 0.9rem;
  display: grid;
  justify-content: center;
  color: var(--font-color-login);
  font-weight: lighter;
}

@media screen and (max-width: 1000px),
  (min-width: 1000px) and (max-height: 750px) {
  html,
  body {
    font-size: 90% !important;
  }
}

@media screen and (max-height: 650px) {
  html,
  body {
    font-size: 75% !important;
  }
}
