@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.sider-menu_container {
  grid-area: sider-menu;
  display: grid;
  position: fixed;
  height: 100%;
  width: 17rem;
  top: 4rem;
  background-color: rgb(255, 255, 255);
}

.sider-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 8rem;
  align-items: center;
  border-radius: 0.2rem;
  padding: 0.5rem 0 6rem 0;
  border: 1px solid rgba(0, 0, 0, 0.135);
}

.sider-menu ul {
  width: 100%;
  display: grid;
  align-content: space-around;
  justify-content: start;
  gap: 0.5rem;
  position: relative;
}

.sider-menu ul > li,
.sider-menu ul > li > a {
  font-size: 0.95rem;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  color: rgba(0, 0, 0, 0.753);
  letter-spacing: 0.03rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.97rem;
  width: 17rem;
  padding: 0.4rem;
  transition: all 0.2s ease;
}

.sider-menu ul > li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.098);
}

.sider-menu ul > li:active {
  background-color: rgba(0, 0, 0, 0.198);
}

.sider-menu_icon {
  color: rgba(0, 0, 0, 0.675);
  font-size: 1.1rem;
}

.sider-menu_active {
  color: red;
}

.sider-menu_slogan {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sider-menu_slogan h1 {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.778);
}

.sider-menu_slogan img {
  margin-top: 0.4rem;
  width: 6.5rem;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.743));
}

.sider-menu_user-data {
  width: 85%;
  height: 4rem;
  display: grid;
  border-radius: 5rem;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: 1fr 1fr;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
  padding-left: 0.4rem;
}

.sider-menu_user-data:hover {
  background-color: rgba(0, 0, 0, 0.098);
}

.sider-menu_user-data:active {
  background-color: rgba(0, 0, 0, 0.198);
}

.sider-menu_user-data_picture {
  grid-row: 1 / 3;
  border-radius: 50%;
  display: grid;
  place-content: center;
  padding: 1rem;
  position: relative;
}

.sider-menu_user-data_picture > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 12%;
  left: 12%;
}

.sider-menu_user-data-name {
  /* border-radius: 0 3rem 0 0; */
  display: grid;
  align-items: end;
  font-weight: bold;
  font-size: 0.9rem;
  padding-left: 0.4rem;
  padding-bottom: 0.1rem;
  font-family: var(--tertiary-font);
  width: 85%;
  overflow: hidden;
  text-wrap: nowrap;
}

.sider-menu_user-data-profile-name {
  /* border-radius: 0 0 3rem 0; */
  align-items: start;
  /* background-color: red; */
  display: grid;
  font-size: 0.85rem;
  padding-left: 0.4rem;
  padding-top: 0.1rem;
  color: rgba(0, 0, 0, 0.777);
  width: 85%;
  font-family: var(--tertiary-font);
  overflow: hidden;
}
