.sider-menu_container {
  grid-area: sider-menu;
  display: grid;
  position: fixed;
  height: 100%;
  width: 17rem;
  top: 3.97rem;
  background-color: rgba(0, 0, 0, 0.026);
}

.sider-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 8rem;
  align-items: center;
  /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.149); */
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.086);
  border: 1px solid rgba(0, 0, 0, 0.149);
  border-radius: 0.1rem;
  padding: 1.2rem 0 6rem 0;
}

.sider-menu ul {
  width: 100%;
  display: grid;
  /* height: 34%; */
  /* background-color: red; */
  align-content: space-around;
  justify-content: start;
  padding-left: 0.9rem;
  padding-top: 0.4rem;
  gap: 2.3rem;
  position: relative;
}

.sider-menu ul > li,
.sider-menu ul > li > a {
  font-size: 0.95rem;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  color: rgba(0, 0, 0, 0.753);
  letter-spacing: 0.03rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.97rem;
  width: 100%;
}

.sider-menu_icon {
  color: rgba(0, 0, 0, 0.675);
  font-size: 1.1rem;
  /* position: absolute;
  left: 0.7rem; */
}

.sider-menu_active {
  color: red;
}

.sider-menu_slogan {
  width: 90%;
  /* background-color: rgba(0, 0, 0, 0.094); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sider-menu_slogan h1 {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.778);
}

.sider-menu_slogan img {
  margin-top: 0.4rem;
  width: 6.5rem;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.743));
}

.sider-menu_user-data {
  width: 85%;
  height: 4rem;
  /* background-color: rgba(255, 0, 0, 0.389); */
  display: grid;
  border-radius: 5rem;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: 1fr 1fr;
  cursor: pointer;
  user-select: none;
}

.sider-menu_user-data:hover {
  background-color: rgba(0, 0, 0, 0.185);

}

.sider-menu_user-data:active {
  background-color: rgba(0, 0, 0, 0.272);

}

.sider-menu_user-data_picture {
  grid-row: 1 / 3;
  border-radius: 50%;
  /* background-color: rgba(0, 128, 0, 0.418); */
  display: grid;
  place-content: center;
  padding: 1rem;
  position: relative;
}

.sider-menu_user-data_picture > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 12%;
  left: 12%;
}

.sider-menu_user-data-name {
  /* background-color: pink; */
  border-radius: 0 3rem 0 0;
  display: grid;
  align-items: end;
  font-weight: bold;
  font-family: var(--secondary-font);
  font-size: .9rem;
  padding-left: .3rem;
}

.sider-menu_user-data-profile-name {
  /* background-color: brown; */
  border-radius: 0 0 3rem 0;
  align-items: start;
  display: grid;
  font-family: var(--secondary-font);
  font-size: .99rem;
  padding-left: .3rem;
  color: rgba(0, 0, 0, 0.777);
}
