.sider-menu-navbar_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0rem 0 0 1.5rem;
  border-top: none;
}

.sider-menu-navbar_container ul {
  width: 76%;
  height: 100%;
  justify-items: space-between;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 .5rem 0;
  gap: 0.1rem;
}

.sider-menu-navbar_container ul li {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem;
  justify-content: center;
  border-radius: 0.2rem 0.2rem 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.143);
  transition: background-color 0.2s ease;
}

.sider-menu-navbar_container ul li:hover {
  background-color: rgba(0, 0, 0, 0.098);
}

.sider-menu-navbar_container ul li:active {
  background-color: rgba(0, 0, 0, 0.198);
}

.sider-menu-navbar_container ul li .sider-menu-navbar_icons {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.525);
  width: 100%;
  filter: drop-shadow(1.5px 1.5px 1px rgba(0, 0, 0, 0.732));
}

.sider-menu-navbar_container ul li .sider-menu-navbar_icon-logout {
  color: rgb(224, 0, 0);
}
