.sider-settings_container {
  grid-area: sider-settings;
  position: fixed;
  width: 4rem;
  height: 100%;
  top: 0;
  right: 0;
  /* display: none; */
}

.sider-settings {
  width: 100%;
  height: 100%;
  /* border-right: 1px solid rgba(0, 0, 0, 0.094); */
  color: rgba(0, 0, 0, 0.634);
  display: grid;
  padding-top: 0rem;
  position: relative;
  /* box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.205); */
  display: flex;
  justify-content: center;
  align-items: start;
  top: 3.97rem;
  background-color: rgba(0, 0, 0, 0.026);
  border-radius: 0.2rem;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.164);
  border: 1px solid rgba(0, 0, 0, 0.149);
  border-radius: 0.1rem;
}

.sider-settings > div {
  width: 85%;
  /* height: 8rem; */
  /* background-color: rgba(2, 2, 2, 0.108); */
  position: absolute;
  bottom: 7rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
}

.sider-shop {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  /* position: relative; */
}

.sider-shop .sider_shop-icon-number {
  /* position: absolute; */
  background-color: rgba(203, 27, 27, 0.684);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-left: -0.2rem;
  font-size: 0.6rem;
  display: grid;
  place-items: center;
  color: white;
}

.sider-shop p {
  font-family: var(--secondary-font);
  cursor: pointer;
}

.sider-settings > div > p {
  font-family: var(--secondary-font);
  color: rgba(203, 27, 27, 0.809);
  font-weight: light;
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: underline;
}

.sider-setting_slogan h1 {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.778);
}

.sider-setting_slogan img {
  margin-top: 0.4rem;
  width: 6.5rem;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.743));
}
