.home-page_container {
  width: 100%;
  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 17rem minmax(750px, 1fr) 3rem;
  grid-template-areas:
    "header header header"
    "sider-menu body sider-settings";
  background-color: #ffffff;
}

.home-page_container .body {
  grid-area: body;
  width: 100%;
}
