.messages_container {
  position: fixed;
  bottom: 0;
  right: 4rem;
  width: 20rem;
  height: 2.9rem;
  display: grid;
  grid-template-columns: 3.5rem 1fr 4rem;
  background-color: #f3f3f3;
  border-radius: 0.6rem 0.6rem 0 0;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.222);
}

.messages_envelope {
  /* background-color: lightblue; */
  height: 100%;
  font-size: 1.2rem;
  justify-self: center;
  color: rgba(0, 0, 0, 0.685);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.259));
}

.messages_text {
  /* background-color: lightcoral; */
  display: grid;
  align-items: center;
  /* padding-left: 10%; */
  font-size: .95rem;
  font-family: var(--tertiary-font);
  font-weight: 600;
  color: rgba(0, 0, 0, 0.794);
  letter-spacing: 0.05rem;
  color: rgba(0, 0, 0, 0.685);
}

.messages_arrow {
  /* background-color: lightgoldenrodyellow; */
  height: 100%;
  font-size: 1.2rem;
  justify-self: center;
  color: rgba(0, 0, 0, 0.794);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.259));
  color: rgba(0, 0, 0, 0.685);
}
