.shops_container {
  grid-area: shop;
  display: grid;
  gap: 1.5rem;
  height: 100%;
  grid-template-rows: 2rem 12.5rem;
  padding-top: 0.9rem;
}

.shops_container h1 {
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  color: rgba(0, 0, 0, 0.634);
  display: grid;
  place-content: center;
}

.shops_container .shop_cards {
  height: max-content;
  width: 70rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: visible;
  height: 100%;
  overflow-y: hidden;
  justify-self: center;
  position: relative;
}

.home-page-shops_error {
  width: 100%;
  display: grid;
  justify-content: center;
  padding-top: 2.7rem;
}

.shops_container .shop_cards .shop_cards-spinner {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  margin-left: -1.5%;
  margin-top: -4%;
}

.shops_arrow-left,
.shops_arrow-right {
  font-size: 1.3rem;
  cursor: pointer;
  position: absolute;
  color: white;
  transition: all 0.3s ease;
}

.shops_arrow-left {
  left: 0;
  height: 9.2rem;
  width: 2rem;
  z-index: 1500;
  padding: 0.3rem;
  border-radius: 1rem 0 0 0;
}

.shops_arrow-right {
  right: 0;
  height: 9.2rem;
  width: 2rem;
  z-index: 1500;
  padding: 0.3rem;
  border-radius: 0 0 1rem 0;
}

.shops_arrow-left:hover,
.shops_arrow-right:hover {
  background-color: rgba(255, 255, 255, 0.412);
}

/* Estilos del scrollbar */
.shops_container .shop_cards::-webkit-scrollbar {
  width: 0;
}

.shops_container .shop_cards::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.shops_container .shop_cards::-webkit-scrollbar-track {
  background-color: transparent;
}
