@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.register-page_container {
  display: grid;
  height: 100svh;
  grid-template-columns: 50% 50%;
  grid-template-rows: 97% 3%;
}

.register-page_form,
.register-page_image {
  /* background-color: lightblue; */
  display: grid;
  place-items: center;
}

.register-page_form {
  position: relative;
  background-image: url("../../../assets/images/pexels-rania-alhamed-2454533.jpg");
  background-size: cover;
  background-position: center;
}

.register-page_form::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 60%,
    rgba(255, 255, 255, 0),
    white
  );
  pointer-events: none;
}

.register-page_form aside,
.register-page_image aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 65%;
}

.register-page_form aside {
  backdrop-filter: blur(7px) saturate(200%);
  -webkit-backdrop-filter: blur(7px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.1rem;
  z-index: 1000;
}

.register-page_form aside > h1 {
  /* background-color: lightgray; */
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  margin-top: 6%;
  font-size: 1.8rem;
  color: rgba(28, 28, 28, 0.814);
  filter: drop-shadow(1px 1px 1px rgba(34, 34, 34, 0.461));
}

.register-page_form aside form {
  width: 100%;
  height: 100%;
  /* background-color: lightpink; */
  /* margin: 2%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 7%;
}

.register-page_form aside form > label,
.register-input_name label,
.register-input_email label,
.register-input_confirm-password label,
.register-input_location label,
.register-input_birthdate label,
.register-input_password label {
  display: grid;
  align-items: center;
  font-size: 0.8rem;
  color: #161925c9;
  font-family: "Titillium Web", sans-serif;
  font-weight: bolder;
}

.register-page_form aside form > label > input,
.register-input_password input,
.register-input_name input,
.register-input_email input,
.register-input_confirm-password input,
.register-input_location input,
.register-input_birthdate input {
  outline: none;
  height: 1.6rem;
  border-radius: 0rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.727);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.431));
  color: #161925;
  padding: 0.9rem;
  padding-left: 0.6rem;
  font-family: "Titillium Web", sans-serif;
  color: rgba(0, 0, 0, 0.714);
  width: 100%;
}

.register-input_password,
.register-input_name,
.register-input_email,
.register-input_confirm-password,
.register-input_location,
.register-input_birthdate {
  position: relative;
}

.toggle-show-password {
  position: absolute;
  right: 3%;
  top: 42%;
  font-size: 1.3rem;
  z-index: 1000;
}

.register-input-error {
  font-size: 105%;
  font-weight: bolder;
  color: rgb(245, 31, 31);
  display: flex;
  align-items: end;
  gap: 0.2rem;
  position: absolute;
  top: 100%;
}

.button-24 {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-top: 7%;
  margin-bottom: 5%;
  letter-spacing: 0.05rem;
  font-weight: 300;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.button-24:active {
  opacity: 0.5;
}

.unabled-submit {
  background: #00000037;
}

.register-page_image aside img {
  width: 100%;
}

.unabled-submit:hover {
  color: white;
}

.register-page_footer {
  background-color: #2f2c2c;
  grid-column: 1 / 3;
  z-index: 1000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  font-size: 0.9rem;
}

.register-page_footer p:nth-child(1) {
  display: flex;
  /* justify-self: ; */
}
.register-page_footer p:nth-child(2) {
  display: flex;
  /* justify-self: ; */
}
