.home-posts_container {
  grid-area: posts;
  display: grid;
  place-content: center;
  width: 100%;
  padding: 0.2rem;
  margin-top: 1.5rem;
  gap: 2rem;
}

.home-posts_advice {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-posts_advice img {
  width: 93%;
  height: 240px;
}

.home-posts_posts {
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  color: rgba(0, 0, 0, 0.634);
  display: flex;
  justify-content: center;
}

.home-posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
