.new-post {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.new-post .new-post_divider {
  position: absolute;
  width: 60%;
  height: 100%;
  border-radius: 0.2rem;
  z-index: -1;
  /* background-color: red; */
}

.new-post > form {
  display: grid;
  width: 60%;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: minmax(10rem, 1fr) 4rem;
  user-select: none;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: none;
}

.new-post-profile-picture {
  display: flex;
  justify-content: end;
  grid-row: 1 / 3;
  padding-right: 0.1rem;
  padding-top: 2.5rem;
  /* background-color: green; */
  
}

.new-post-profile-picture img {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  box-shadow: 1px 1px 5px .2px rgba(0, 0, 0, 0.157);
  object-fit: cover;
  object-position: center;
}

.new-post-body {
  padding-left: 0.6rem;
}

.new-post-body .new-post-body_shop-choose {
  width: 100%;
  height: 2.4rem;
  z-index: 200;
  top: 0;
  border-radius: 0.2rem 0.2rem 0 0;
}

.shop-choose_container {
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  /* background-color: red; */
}

.shop-choose_container select {
  border: 1px solid rgba(0, 0, 0, 0.168);
  height: 80%;
  border-radius: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 1.5rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 12rem;
  font-family: var(--secondary-font);
  outline: none;
  background-color: transparent;
  font-size: 0.85rem;
  display: flex;
  font-weight: bold;
  color: rgba(76, 76, 76, 0.864);
  transition: all 0.2s ease;
}

.shop-choose_container select:focus {
  border: 1px solid rgba(0, 26, 255, 0.454);
  box-shadow: 0px 0px 1px 1px rgba(0, 26, 255, 0.101);
}
.shop-choose_container .shop-choose_select-shop {
  color: rgba(76, 76, 76, 0.625);
}

.shop-choose_container select option {
  border-radius: 0;
  font-family: var(--secondary-font);
  font-weight: bold;
}

.shop-choose_arrow {
  position: absolute;
  left: 10.7rem;
  z-index: -1;
  font-size: 0.8rem;
  /* background-color: red; */
  height: 100%;
}

.shop-choose_container > div {
  font-size: 0.9rem;
  margin-left: 1rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: rgba(0, 0, 0, 0.615);
  /* background-color: green; */
}

.shop-choose_container > div > h2 {
  font-size: 0.9rem;
  margin-bottom: 1%;
}

.new-post-body .new-post-body_text-area,
.new-post-body_text-area_unable {
  width: 100%;
  min-height: 9rem;
  min-width: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.168);
  outline: none;
  border-radius: 0.2rem;
  padding-left: 0.5rem;
  padding-top: 0.3rem;
  font-family: var(--secondary-font);
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.863);
  resize: none;
  overflow: hidden;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.055);
  transition: all 0.2s ease;
}

.new-post-body .new-post-body_text-area:focus {
  border: 1px solid rgba(0, 26, 255, 0.454);
  box-shadow: 0px 0px 1px 1px rgba(0, 26, 255, 0.101);
}

.new-post-body .new-post-body_text-area_unable {
  border: none;
  background-color: rgba(122, 122, 122, 0.084);
  cursor: default;
}

.new-post-send {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: .4rem;
  padding-right: .4rem;
}

.new-post-send .new-post-send-options {
  width: 4rem;
  height: 100%;
  display: flex;
  gap: 0.3rem;
  font-size: 1.3rem;
  padding-left: 0.5rem;
  align-items: start;
}

.new-post-send .new-post-send-options > .new-post-send-options_item {
  cursor: not-allowed;
  color: #ff3b3ba0;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.157));
}

.new-post-send .new-post-send-options > .new-post-send-options_item_unable {
  cursor: default;
  color: #3333335e;
}

.new-post-send-characters {
  display: flex;
  font-size: 0.85rem;
  color: rgba(76, 76, 76, 0.698);
  font-weight: bold;
}

.new-post-send-characters p {
  font-family: var(--tertiary-font);
}

.new-post-send .new-post-send_button {
  height: 100%;
  display: flex;
  grid-column: 2 / 3;
  align-items: start;
  position: relative;
}

.new-post-send_button_btn,
.new-post-send_button_btn_unable {
  border: none;
  border-radius: 1.5rem;
  width: 7rem;
  background: #ff4742;
  border: 1px solid #ff4742;
  font-family: var(--tertiary-font);
  font-weight: 600;
  font-size: 0.7rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1%;
  cursor: pointer;
  color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.211);
  outline: none;
}

.new-post-send .new-post-send_button_btn_unable {
  background: #33333341;
  border: none;
}

.new-post-send_button_btn:hover,
.new-post-send_button_btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.new-post-send_button_btn:active {
  opacity: 0.5;
}

.button-24 {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.button-24:active {
  opacity: 0.5;
}

.Toastify__toast {
  right: 3rem;
  bottom: 1rem;
}

.new-post-send_button-loader {
  position: absolute;
  left: -3rem;
}

.new-post-send_button-loader .loadership_VVQYE {
  display: flex;
  width: 34px;
  height: 21px;
}

.loadership_VVQYE div {
  position: absolute;
  top: 14px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #e92323dc;
  animation: loadership_VVQYE_bounce 2.4s infinite;
  animation-timing-function: linear;
}

.loadership_VVQYE div:nth-child(1) {
  animation-delay: 0s;
  left: 0px;
}
.loadership_VVQYE div:nth-child(2) {
  animation-delay: 0.4s;
  left: 9px;
}
.loadership_VVQYE div:nth-child(3) {
  animation-delay: 0.8s;
  left: 18px;
}
.loadership_VVQYE div:nth-child(4) {
  animation-delay: 1.2s;
  left: 27px;
}

@keyframes loadership_VVQYE_bounce {
  0%,
  13.333333333333332%,
  33.33333333333333%,
  53.33333333333333%,
  66.66666666666666%,
  100% {
    transform: translateY(0);
  }

  26.666666666666664% {
    transform: translateY(-14px);
  }

  40% {
    transform: translateY(-5.6000000000000005px);
  }
}

@media screen and (max-width: 1460px) {
  .shop-choose_container > div {
    /* margin-left: 1rem; */
    background-color: transparent;
    display: flex;
    align-items: center;
    /* gap: 0.4rem; */
    color: rgba(0, 0, 0, 0.615);
    /* background-color: red; */
  }

  .shop-choose_container > div > h2 {
    font-size: 0.8rem;
    margin-bottom: 1%;
  }
}
