.slice-text_container {
  position: relative;
  grid-area: slice;
  overflow: hidden;
  width: 100%;
  z-index: -1;
  display: grid;
  justify-items: center;
}

.slice-text {
  background-color: rgba(0, 0, 0, 0.669);
  height: 100%;
  color: white;
  display: flex;
  position: absolute;
  width: 99.5%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.149);
  border-radius: .1rem;
  overflow: hidden;
}

.slice-text p {
  filter: drop-shadow(0 0 1.5px rgb(0, 0, 0));
  font-size: 0.95rem;
  height: 100%;
  display: inline-block;
  align-items: center;
  animation: slideText 15s linear infinite;
  /* background-color: red; */
  width: 100%;
  letter-spacing: 0.16rem;
  font-family: var(--font-secondary);
  margin-top: .1%;
}

@keyframes slideText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-80%);
  }

  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-80%);
  }
}
