.error_container {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  
  & .error-icon {
    font-size: 0.9rem;
    color: rgba(235, 38, 38, 0.837);
  }

  & p.error-description {
    font-size: 0.9rem;
    font-family: var(--secondary-font);
  }
}
