.my-shops_container {
  width: 100%;
  display: grid;
  gap: .9rem;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  padding: 0 2rem;
  position: relative;
}

.my-shops_container .no-shops {
  font-family: var(--secondary-font);
  justify-self: center;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center; 
  color: rgba(0, 0, 0, 0.727);
}