.main-content_categories {
    height: 100%;
    grid-row: 1 / 3;
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 1fr;
    position: sticky;
  }
  
  .main-content_categories .main-content_categories-h1 {
    height: 5rem;
  }
  
  .main-content_categories .categories_list {
    height: 100%;
  }
  
  .categories_list > ul {
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 27rem;
    gap: 0.7rem;
    overflow: auto;
  }
  