.settings-page_container {
  display: grid;
  grid-template-columns: 17rem minmax(750px, 1fr) 2.9rem;
  grid-template-rows: 4rem 1fr;
  grid-template-areas:
    "header header header"
    "side-menu body side-settings";
}

.settings-page_body {
  grid-area: body;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 3rem 1fr;
  /* background-color: red; */
}

.settings-page_body-header {
  /* background-color: lightgreen; */
  display: flex;
  align-items: end;
  padding-left: 1.3rem;
  /* padding-bottom: 0.4rem; */
  gap: 0.3rem;
}

.settings-page_body-header_arrow {
  width: 2.2rem;
  height: 2.2rem;
  /* font-size: 1rem; */
  color: rgb(63, 63, 63);
  border-radius: 50%;
  padding: 0.54rem;
  transition: all 0.3s ease;
}

.settings-page_body-header_arrow:hover {
  background-color: rgba(0, 0, 0, 0.098);
}

.settings-page_body-header_arrow:active {
  background-color: rgba(0, 0, 0, 0.198);
}

.settings-page_body-header > .settings-page_body-header_account {
  user-select: none;
  font-size: 1rem;
  color: rgb(63, 63, 63);
  font-family: var(--tertiary-font);
  letter-spacing: 0.01rem;
  padding-bottom: 0.68%;
}

.settings-page_body-form {
  /* background-color: lightskyblue; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.settings-page_body-form .settings-page_body-form_info-profile {
  padding: 1rem 0.5rem 0 1rem;
  height: 100%;
  width: 100%;
  /* background-color: green; */
  /* padding: 1rem 1rem 0 0.5rem; */
}

.settings-page_body-form .settings-page_body-form_info-profile > form {
  /* background-color: lightcoral; */
  padding: 1.5rem 2rem 4rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.135);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  gap: 2.3rem;
  display: grid;
  grid-template-columns: 8rem 1fr;
  grid-template-rows: 2rem 8rem repeat(4, 2rem);
}

.settings-page_body-form .settings-page_body-form_info-profile form h1,
.settings-page_body-form .settings-page_body-form_info-account form h1 {
  width: 100%;
  grid-column: 1/3;
  display: grid;
  justify-content: center;
  font-family: var(--secondary-font);
  font-size: 1.15rem;
  text-decoration: underline;
}

.settings-page_body-form
  > .settings-page_body-form_info-profile
  .info-profile_picture {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  /* background-color: red; */
}

.info-profile_picture p {
  /* background-color: red; */
  align-self: start;
  padding-left: 1.4rem;
  font-family: var(--secondary-font);
  color: rgba(0, 0, 0, 0.593);
  font-size: .9rem;
}

.settings-page_body-form .info-profile_picture-img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.458);
  padding: 0.1rem;
  grid-row: 1 / 3;
  object-fit: cover;
  object-position: center;
}

.settings-page_body-form .info-profile_picture label {
  /* background-color: red; */
  /* height: 100%; */
  display: flex;
  align-self: end;
  width: 10rem;
  height: 2.5rem;
  margin-left: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  border: 2px solid rgba(0, 0, 0, 0.482);
  border-radius: .1rem;
  font-family: var(--secondary-font);
}

.settings-page_body-form .info-profile_picture label > .info-profile_picture-photo {
  /* background-color: green; */
  display: flex;
  justify-content: end;
}

.settings-page_body-form .info-profile_picture label > .info-profile_picture-icon {
  font-size: .8rem;
  /* background-color: green; */
  height: 100%;
  margin-left: .8rem;
  color: rgba(0, 0, 0, 0.482);
}


.settings-page_body-form .info-profile_picture label input[type="file"] {
  padding-left: 1.1rem;
  display: flex;
  flex-direction: column;
  align-self: end;
  color: transparent;
  width: 10rem;
  display: none;
}

.settings-page_body-form .settings-page_body-form_info-profile > form > label,
.settings-page_body-form .settings-page_body-form_info-account > form > label {
  display: flex;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: var(--secondary-font);
  justify-self: center;
}

.settings-page_body-form .settings-page_body-form_info-profile > form > input,
.settings-page_body-form .settings-page_body-form_info-account > form > input {
  /* background-color: grey; */
  border-radius: .2rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.578);
  padding-left: .5rem;
  padding-bottom: .4%;
  font-family: var(--secondary-font);
}

.settings-page_body-form
  .settings-page_body-form_info-profile
  > form
  input[type="submit"],
.settings-page_body-form
  .settings-page_body-form_info-account
  > form
  input[type="submit"] {
  grid-column: 1 / 3;
  border-radius: 0.1rem;
  outline: none;
  border: none;
  color: rgb(28, 27, 27);
  border: 2px solid rgba(0, 0, 0, 0.593);
  color: rgba(0, 0, 0, 0.593);
  background-color: transparent;
  height: 2.5rem;
}

.settings-page_body-form .settings-page_body-form_info-account {
  /* height: 17rem; */
  padding: 1rem 1rem 0 0.5rem;
  height: 100%;
  width: 100%;
}

.settings-page_body-form .settings-page_body-form_info-account form {
  display: grid;
  padding: 1.5rem 2rem 4rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.135);
  border-radius: 1rem;
  width: 100%;
  /* height: 100%; */
  gap: 2.3rem;
  display: grid;
  grid-template-columns: 8rem 1fr;
  grid-template-rows: 2rem repeat(3, 2rem);
}