@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
  font-family: arial-rounded;
  src: url("/assets/fonts/arial-rounded.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-global);
}

html {
  font-size: 100%;
}

:root {
  --color-background-login-primary: #ce3535fb;
  --color-background-login-secondary: #f86464fb;
  --font-global: "arial-rounded", sans-serif;
  --secondary-font: "Titillium Web", sans-serif;
  --tertiary-font: "Plus Jakarta Sans", sans-serif;
  --font-main-color: #ed3237;
  --font-color-login: #edf2f4;
}
