.header_container {
  grid-area: header;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  height: 3rem;
  background-color: #ffffff;
  position: fixed;
  z-index: 1500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  border-bottom: none;
}

.header_container_remove {
  display: none;
}

.header {
  width: 100%;
  height: 100%;
  border-radius: 0.1rem;
  display: grid;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  grid-template-columns: 17rem 1fr 2.9rem;
  align-items: center;

  & .hamburguer-menu {
    display: none;
  }
}

.header-search {
  height: 100%;
}

.header-search > div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-left: 0rem;
}

.header-search-image {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  color: rgb(206, 41, 41);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.323));
  margin-bottom: 0.7%;
}

.header-search_form {
  position: relative;
  width: 70%;
  height: 100%;
  display: grid;
  align-items: center;
  padding-bottom: 0.3%;
}

.header-search_form .header-search_form_divider {
  position: absolute;
  width: 17rem;
  bottom: 0;
  left: -4.1rem;
}

.header-search-input {
  width: 100%;
  height: 60%;
  border-radius: 3rem;
  border: none;
  background-color: rgb(245, 245, 245);
  outline: none;
  padding: 0 0.8rem;
  font-size: 1rem;
  position: relative;
  padding: 0 2rem 0.1rem 1.4rem;
  font-family: "Titillium Web", sans-serif;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.526);
  font-size: 0.74rem;
  color: rgba(0, 0, 0, 0.803);
}

.header-search-input::placeholder {
  display: grid;
  align-items: center;
  height: 100%;
  font-size: 0.8rem;
  padding-left: 1.5rem;
  position: absolute;
  left: 1rem;
  top: 10.5%;
  color: rgba(0, 0, 0, 0.803);
}

.header-search_results-list_close-modal {
  position: absolute;
  right: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  padding: 0.1rem;
  display: grid;
  place-content: center;
  font-size: 0.8rem;
}

.header-search_results-list_close-modal:hover {
  background-color: rgba(123, 123, 123, 0.167);
}

.header-search_results-list_close-modal:active {
  background-color: rgba(123, 123, 123, 0.067);
}

.header-search_form .header-search_results-list {
  width: 160%;
  padding: 0.2rem;
  position: absolute;
  background-color: white;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.256);
  top: 2.7rem;
  left: -2.7rem;
  border-radius: 0.2rem;
  z-index: 900;
  color: rgba(0, 0, 0, 0.914);
  font-size: 0.85rem;
  padding: 0.4rem 0.8rem 0.6rem 0.7rem;
  max-height: 20.6rem;
  overflow-y: auto;
}

.header-filter_loading {
  width: 100%;
  height: 2rem;
}

/* Spinner de carga */
.header-filter_loading .loadership_CWZLE {
  width: 100%;
  height: 100%;
}

.header-filter_loading .loadership_CWZLE div {
  top: 16%;
  left: 45%;
  width: 25px;
  height: 25px;
  border: 4px solid #75747433;
}
/* Spinner de carga */

.header-search_results-container {
  display: grid;
  gap: 0.2rem;
}

.header-search-bar_no-results {
  display: flex;
  justify-content: center;
  padding: 0.4rem;
  color: rgba(0, 0, 0, 0.631);
}

.header-search_results-container > .results_cards {
  list-style: none;
  display: grid;
  grid-template-columns: 3rem 1fr 2rem;
  gap: 0.3rem;
  cursor: pointer;
  position: relative;
  padding: 0.7rem 0;
}

.results_cards-arrow {
  color: rgba(209, 71, 17, 0.647);
  display: grid;
  place-content: center;
}

.header-search_results-divider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}

.header-search_results-container > div li {
  display: flex;
  align-items: center;
  font-family: var(--secondary-font);
}

.type-search {
  color: rgba(0, 0, 0, 0.691);
  font-size: 0.8rem;
  font-family: var(--secondary-font);
  margin-top: -0.2rem;
  gap: 0.25rem;
}

.result_shop-state-icon {
  color: rgb(29, 181, 29);
  filter: drop-shadow(0px 0px 1.5px rgba(29, 181, 29, 0.873));
  height: 100%;
  margin-top: 1%;
}

.header-search_results-container li > img {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.1rem;
  border-radius: 50%;
}

.header-search-icon {
  position: absolute;
  left: 1.4rem;
  top: 34.5%;
  font-size: 0.74rem;
  color: rgba(0, 0, 0, 0.803);
}

.header-search_results-container .header-search_results_see-more {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0;
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.723);
  height: 100%;
  margin-top: 0.1rem;
  cursor: pointer;
}

.header-search_results_see-more li > a {
  text-decoration: none;
  color: rgba(209, 33, 17, 0.832);
  font-weight: 600;
  font-family: var(--secondary-font);
  font-size: 0.8rem;
}

.header-logo {
  display: grid;
  place-content: center;
  height: 100%;
  margin-top: 0.1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header-logo > a > img {
  width: 3.3rem;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.323));
  margin-top: 6%;
}

.header-menu {
  height: 70%;
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  transition: background-color 0.3s ease;
  place-content: center;
}

.header-menu:hover {
  background-color: rgba(0, 0, 0, 0.098);
}

.header-menu:active {
  background-color: rgba(0, 0, 0, 0.198);
}

.header-user-picture_loading {
  display: grid;
  place-content: center;
}

.header-user-picture_loading .loadership_CWZLE {
  width: 25px;
  height: 25px;
}

.header-user-picture_loading .loadership_CWZLE div {
  width: 25px;
  height: 25px;
  border: 4px solid #75747433;
}

.header-user-picture_error {
  display: grid;
  place-content: center;
  font-size: 1.3rem;
  color: rgba(235, 38, 38, 0.837);
}

.header-menu img {
  width: 2rem;
  height: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.194);
  padding: 0.05rem;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.323));
  border-radius: 0.2rem;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1520px) {
  .header-search-image {
    width: 1.7rem;
    height: 1.7rem;
  }

  .header-logo > a > img {
    width: 3rem;
  }
}

@media screen and (max-width: 1366px) {
  .header-search-image {
    width: 1.5rem;
    height: 1.5rem;
  }

  .header-logo > a > img {
    width: 2.8rem;
  }
}

@media screen and (max-width: 1280px) {
  .header-search-image {
    width: 1.4rem;
    height: 1.4rem;
  }

  .header-logo > a > img {
    width: 2.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    grid-template-columns: 1fr 2.9rem;

    & .hamburguer-menu {
      display: flex;
      position: absolute;
      left: 1.5rem;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }

  .header-search {
    display: none;
  }
}
